* {
  boxing-size: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: grey;
}

.wrapper {
  width: 400px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.textdiv {
  width: 100%;
  background: linear-gradient(20deg, #020024, #090979, #00d4ff);
  padding: 50px 40px;
  box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
  position: relative;
  border-radius: 8px;
  text-align: center;
}
#text {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

#author {
  color: #61dafb;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-prime {
  margin-top: 15px;
  background: #27748a;
  padding: 20px 30px;
  border-radius: 8px;
  color: #fff;
  border: 2px solid white;
  margin-bottom: 15px;
}
.btn-prime:hover {
  background: blue;
}

#social-media {
  padding: 10px;
}
